{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="h2">Dashboard</h1>
<p>Welcome back, {{ username.username }}!</p>

<script type="text/javascript">
  var x = document.getElementById("demo");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    }
    else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }

    navigator.geolocation.getCurrentPosition(success => {
      /* Do some magic. */
    }, failure => {
      if (failure.message.startsWith("Only secure origins are allowed")) {
        // Secure Origin issue.
      }
    });
  }

  function showPosition(position) {
    document.getElementById("rllt").value = position.coords.latitude;
    document.getElementById("rllg").value = position.coords.longitude;
  }



</script>

<div>
  Enter Receivers Details
  <!-- <form action="" method="post" autocomplete="off"> 
      <div class="form-group">
       <label for="name" class="cols-sm-2 control-label">Receiver's Name</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fas fa-child" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="rname" id="rname"  placeholder="Enter the Name"/>
        </div>
       </div>
      </div>
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Receiver's location</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="rname" id="rname"  placeholder="Enter location"/>
         </div>
        </div>
       </div>  
      </form> -->
  <form class="form-group" action="{{ url_for('home') }}" method="post">
    <label for="Receivername" class="cols-sm-2 control-label">Receiver Name</label>
    <input type="text" class="form-control" name="Receivername" placeholder="Reciver name" id="Receivername">

    <label for="rlocationlat" class="cols-sm-2 control-label">location latitude</label>
    <input type="text" class="form-control" name="rllt" placeholder="Location latitude" id="rllt" required>

    <label for="rlocationlong" class="cols-sm-2 control-label">location longitude</label>
    <input type="text" class="form-control" name="rllg" placeholder="Location longitude" id="rllg" required>

    <label for="curlocation" class="cols-sm-2 control-label">Location</label>
    <button onclick="getLocation();" id="curlocation">Set Current Location</button>

    <p id="demo">{{msg}}</p>

    <input type="submit" value="submit" class="form-control btn btn-success " name="">
  </form>
</div>
{% endblock %}