<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script type="text/javascript">
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

  
    function showPosition(position) {
      document.getElementById("rllt").value = position.coords.latitude;
      document.getElementById("rllg").value = position.coords.longitude;
    }
  </script>
 </head>
 <body style="background-image:url('../static/images/informer.jpg');background-size: 1800px 1080px;background-repeat: no-repeat;">
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <!-- <a class="py-2" href="{{ url_for('home') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a> -->
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('register') }}"><i class="fas fa-user-circle"></i> Volunteer</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('oregister') }}"><i class="fas fa-users"></i> Orphanage</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('pregister') }}"><i class="fas fa-utensils"></i> Provider</a>
<a class="py-2 d-none d-md-inline-block" href="{{ url_for('inform') }}"><i class="fas fa-utensils"></i> Informer</a>
 </div>
  </nav>
 <div class="container" style="background-image:image('static\img\akshudyamimage.jpg')">
   <div class="row main">
    <div class="main-login main-center">
    <h5>Info About a Reciver</h5>
    <form class="form-group" action="{{ url_for('inform') }}" method="post">
      <table>
        <tr>
          <td>
      <label for="Receivername" class="cols-sm-2 control-label">Receiver Name</label>
    </td>
      <td>
      <input type="text" class="form-control" name="Receivername" placeholder="Reciver name" id="Receivername">
    </td>
  </tr>

  <tr>
    <td>
      <label for="rlocationlat" class="cols-sm-2 control-label">location latitude</label>
    </td>
    <td>
      <input type="text" class="form-control" name="rllt" placeholder="Location latitude" id="rllt" required>
    </td>
  </tr>

  <tr>
    <td>
      <label for="rlocationlong" class="cols-sm-2 control-label">location longitude</label>
    </td>
    <td>
      <input type="text" class="form-control" name="rllg" placeholder="Location longitude" id="rllg" required>
    </td>
  </tr>
  <tr><td>
      <label for="curlocation" class="cols-sm-2 control-label">Location</label>
    </td>
    <td>
      <button onclick="getLocation();" id="curlocation">Set Current Location</button>
    </td></tr>
    <tr>
      <td>
      <div id="msg">{{ msg }}</div>
    </td>
    </tr>
    <tr><td>
      <input type="submit" value="submit" class="form-control btn btn-success " name="">
    </td>
    </tr>
    </table>
    </form>
    </div>
   </div>
  </div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
 </body>
</html>