<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Recivers Location</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMDzWgXAnDlP9Yx7RqVOPwauYAhqmHNrE&callback=initMap"
    type="text/javascript"></script>
    <script type="text/javascript">

    // function initMap() {
    //     new google.maps.Map(document.getElementById('map'), {
    //         center: {
    //             lat: {{school.lat}} , lng: {{school.lng}}
    //         },
    //         zoom: 16
    //       });
    // }
    
    function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: {{school.lat}}, lng: {{school.lng}} },
    zoom: 19,
    });
    const marker = new google.maps.Marker({
    position: { lat: {{school.lat}}, lng: {{school.lng}} },
    map: map,
    label: 'R',
    });
    }
    </script>
</head>
<body>
    <nav class="site-header sticky-top py-1 ">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="{{ url_for('home') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          </a>
    <a class="py-2 .d-block " href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
    <a class="py-2 .d-block " href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> Profile</a>
    <a class="py-2 d-none d-md-inline-block" href="{{ url_for('feedback') }}"><i class="fas fa-user-circle"></i>Feedback</a>
    <a class="py-2 .d-block " href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
     </div>
      </nav>
<div class="container">
    <h1>{{school.name}}</h1>
    <h3>Contact : {{school.contact}}</h3>
    <div id="map" style="width:100%; height:500px;"></div>
    <div>
      <form class="form-group" action="{{ url_for('show_school',school_code = school.key) }}" method="post">
        <table><tr>
          
      <tr><td><label for="deletereceiver" >Food Provided</label>
        </td><td>
          <input type="checkbox" class="form-control" name="deletereceiver"  id="deletereceiver" value="1" required>
        </td></tr>
        <tr><td>
        <input type="submit" value="submit" class="form-control btn btn-success " name="">
    </td></tr>
      </table>
      </form>
    </div>
</div>
</body>
</html>