{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<h1>Profile Page</h1>

<div> 
    <p>Your account details are below:</p>
    <table>

        <tr>
            <td>Username:</td>
            <td>{{ account['oname'] }}</td>
        </tr>

        <tr>
            <td>Contact:</td>
            <td>{{ account['ocontact'] }}</td>
        </tr>
        <tr>
            <td>Location (Latitude):</td>
            <td>{{ account['orphanagelat'] }}</td>
        </tr>
        <tr>
            <td>Location (Longitude):</td>
            <td>{{ account['orphanagelong'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}