{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<h1>Profile Page</h1>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>{{ account['dateofbirth'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ account['gender'] }}</td>
        </tr>
        <tr>
            <td>Credits:</td>
            <td>{{ account['credits'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}